
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.actions button {
  margin-right: 5px;
}

.actions button:last-child {
  margin-right: 0;
}

.button-row {
  margin-bottom: 10px;
}

.button-row button {
  margin-right: 10px;
}

.file-input-container.dragover {
  border-color: #999;
}

/* Copy Button */
.copy-button {
  padding: 5px 10px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-button:hover {
  background-color: #45a049; /* Darker Green */
}

/* Copy Button */
.copy-button {
  padding: 5px 10px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px; /* Add left and right margin */
}

.copy-button:hover {
  background-color: #45a049; /* Darker Green */
}

/* Edit Button */
.edit-button {
  padding: 5px 10px;
  background-color: #008CBA; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px; /* Add left and right margin */
}

.edit-button:hover {
  background-color: #005f6b; /* Darker Blue */
}

/* Delete Button */
.delete-button {
  padding: 5px 10px;
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px; /* Add left and right margin */
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker Red */
}

.input-row {
  margin-bottom: 10px;
}

.input-row label {
  display: inline-block;
  width: 100px; /* Adjust label width as needed */
}

.input-row input[type="text"],
.input-row select {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the width */
}

#xc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fileInput{
  background-color: #ff0000e0;
  margin: 2%;
}
#red{
  color: #ffd900;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#rex{
  color: #1cc3ec;
}

#records th {
  font-size: 12px; /* Set font size for table header */
}

#records td {
  font-size: 12px; /* Set font size for table data */
}
